#p1{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 37%;
  left: 20%;

  font-family: Comic Sans,Comic Sans MS, cursive;
  font-weight: 100;
  font-size: 58px;
}
#p2{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 27%;
  left: 20%;

  font-family: "Andale Momo";
  font-weight: 300;
  font-size: 58px;
}

#p3{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 57%;
  left: 20%;

  font-family: Comic Sans,Comic Sans MS, cursive;
  font-weight: 100;
  font-size: 15px;
  color:silver;
}

.div1{
  
  position: absolute;
  padding: 1rem 2rem;
  top: 120%;
  left: 20%;
  width:900px;
  height:500px;
}
#p4{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 0%;
  left: 0%;

  font-family: "Andale Momo";
  font-weight: 340;
  font-size: 32px;
  line-height:160%
}

#p5{
  position: absolute;
  padding: 1rem 2rem;
  top: 120%;
  left: 20%;
  font-family: "Andale Momo";
  font-weight: bolder;

  font-size: 32px;
}
.logo2{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 150%;
  left: 20%;
}
.logo3{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 150%;
  left: 33%;
}
.logo4{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 150%;
  left: 46%;
}
.logo5{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 150%;
  left: 59%;
}
.logo6{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 150%;
  left: 72%;
}



html, body {
  margin: 0;
  padding: 0;
  
}


.bg{
  width:1440px;
  height:3800px;
  background-color:white;
}
.bg1{
  width:1440px;
  height:3800px;
  background-color:black;
}


.mainCanvas{
  cursor : none;
}


.decoration__rect{
  position: fixed;
  top: 120%;
  left: 25%;
  width: 29.1666666667vmax;
  height: 52.0833333333vmax;
  margin-top: -26.0416666667vmax;
  margin-left: -14.5833333333vmax;
  border: 1px solid;
  /*cursor : none;*/
  border-color:silver;

}
.decoration__rect1{
  position: fixed;
  top: 120%;
  left: 25%;
  width: 29.1666666667vmax;
  height: 52.0833333333vmax;
  margin-top: -26.0416666667vmax;
  margin-left: -14.5833333333vmax;
  border: 1px solid;
  /*cursor : none;*/
  border-color:rgb(35, 35, 35);

}
.decoration__circ{
  position: fixed;
  top: 10%;
  left: 75%;
  width: 36vmax;
  height: 36vmax;
  margin-top: -18vmax;
  margin-left: -18vmax;
  border: 1px solid;
  border-radius: 100%;
  /*cursor : none;*/
  border-color:silver;
  
}
.decoration__circ1{
  position: fixed;
  top: 10%;
  left: 75%;
  width: 36vmax;
  height: 36vmax;
  margin-top: -18vmax;
  margin-left: -18vmax;
  border: 1px solid;
  border-radius: 100%;
  /*cursor : none;*/
  border-color:rgb(35, 35, 35);
  
}

.decoration__line{
  position: fixed;
  top: 75%;
  left: 24.5%;
  width: 0px;
  height: 25vmax;
  margin-top: -26.0416666667vmax;
  margin-left: -14.5833333333vmax;
  border: 0.7px solid;
  /*cursor : none;*/
  border-color:silver;
}


.line1{
  
  position: absolute;
  top: 75%;
  left: 24.5%;
  width: 3.5vmax;
  height: 0vmax;
  border: 0.7px solid;
  border-color:silver;
  top: 15.4%;
  left: 68.4%;
}
.line2{
  position: absolute;
  top: 75%;
  left: 24.5%;
  width: 3.5vmax;
  height: 0vmax;
  border: 0.7px solid;
  border-color:silver;
  top: 15.4%;
  left: 76.4%;
}
.line3{
  position: absolute;
  top: 75%;
  left: 24.5%;
  width: 3.5vmax;
  height: 0vmax;
  border: 0.7px solid;
  border-color:silver;
  top: 15.4%;
  left: 84.4%;
}








.Angency{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 6%;
  left: 66%;
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: bold;
  font-size: 15px;
  
}
.Expertise{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 6%;
  left: 74%;

  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: bold;
  font-size: 15px;
}

.Contact{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 6%;
  left: 82%;

  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: bold;
  font-size: 15px;
}
.CN{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 7%;
  left: 89%;
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: bold;
  font-size: 13px;
  color: grey;
}
.EN{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 7%;
  left: 90.5%;
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: bold;
  font-size: 13px;
  

}





.logo{
  position: absolute;
  top: 8%;
  left: 5%;
}
#ti{
  position: absolute;
  top: 40%;
  left: 5%;
}


.header {
 
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  padding: 1.5rem;
 

}

.header1 {
 
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  padding: 1.5rem;
  filter: invert(100%);

}

.section3{
  background-color: transparent;
  position: absolute;
  padding: 1rem 2rem;
  top: 220%;
  left: 20%;
}
.co{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: bold;
  font-size: 15px;
  color:rgb(50,50, 50);
}
.time{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 10px;
  color:gray;

}
.titil1{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:white;
}
#k1{
  color:white;
}

.titil2{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:white;
}
.titil3{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:white;
}
.titil4{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:white;
}
.titil5{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:white;
}
.titil6{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:white;
}
.titil7{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:white;
}
.titil8{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:white;
}
.titil9{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:white;
}

.titil{
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: normal;
  font-size: 20px;
  color:rgb(50,50, 50);
}

#k1{
  color:white;
}




.Twitter{
  position: absolute;
  padding: 1rem 2rem;
  top: 445%;
  left: 28%;
}

.Insgram{
  position: absolute;
  padding: 1rem 2rem;
  top: 445%;
  left: 31%;
}

.LinkedIn{
  position: absolute;
  padding: 1rem 2rem;
  top: 445%;
  left: 34%;
}
.Github{
  position: absolute;
  padding: 1rem 2rem;
  top: 445%;
  left: 37%;
}

.box{
  position: absolute;
  padding: 1rem 2rem;
  top: 420%;
  left: 27%;
  font-family: Comic Sans, Comic Sans MS;
  font-weight: normal;
  font-size: 18px;
  color:black;
}
.contact{
  float: left;
  width: 20%;
  padding: 0rem 1rem;
}

.sh{
  position: absolute;
  padding: 1rem 2rem;
  top: 405%;
  left: 28%;
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: bolder;
  font-size: 25px;
  color:black;
}
.liegt{
  position: absolute;
  padding: 1rem 2rem;
  top: 405%;
  left: 45%;
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-weight: bolder;
  font-size: 25px;
  color:black;
}


input[type=range] {
  -webkit-appearance: none;
  width: 300px;
  border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}    